<!DOCTYPE html>
<html>
    <head>
        <title>User Sign-up</title>
        <style type="text/css">
            .veri_error {
                color: red;
            }
            .name_error {
                color: red;
            }
            .pass_error {
                color: red;
            }
            .email_error {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>
            <a href="/">Dirigible Captains</a>
        </h1>


        {% block content %}
        {% endblock %}

    </body>
</html>